.navGame {
    background-color: transparent;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    width: 100vw
}

.navitems {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navitems a {
    color: rgb(2, 2, 2);
    font-family: serif;
    margin: 15px;
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a:hover {
    color: rgb(125, 239, 125)
}

.navtoggle {
    display: none;
}

@media (max-width: 768px) {
    .navlogo {
        font-size: 20px;
    }

    .navitems {
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(88, 175, 221);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fill-available;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }

    .navitems.open {
        transform: translateX(0) !important;
    }

    .navtoggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;

    }

    .navtoggle span {
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 5px;
        transform-origin: 5px 0px;
        transition: all 0.3s linear;
    }

    .navtoggle.open>span {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .navtoggle.open>span:nth-child(2) {
        display: none;
    }

    .navtoggle.open>span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 0px);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Pacifico', cursive;
    color: #000;
}

.me {
    color: rgb(88, 175, 221)
}

.logout {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 6%;
    margin-right: 6%;
}

/* .logout:hover {
    background-color: red;
} */



#trapezoid {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    border: 80px solid rgba(0, 0, 0, 0);
    border-top: 0 solid;
    border-bottom: 100px solid rgba(1, 1, 1, 0.4);
    -webkit-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    font: normal 100% / normal Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.7);
    -o-text-overflow: clip;
    text-overflow: clip;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
    margin-top: -53px;
    width: 700px;
    position: relative;
    transition: all 0.7s ease;
    padding-left: 7%;
}

#trapezoid a,
.subnavbtn {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.sub-home {
    display: none;
    position: absolute;
    right: 0;
    left: 0;

    z-index: 1;
    transform: perspective(-10px);
}

#trapezoid:hover .sub-home {
    justify-content: center;
    margin-top: 53px;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    overflow: hidden;
    justify-content: center;
    height: 100px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all 0.5s ease;
}

.navbar a:hover,
.subnav:hover .subnavbtn {
    background: #8ca6db;
    color: black;
    border-radius: 5px;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: perspective(-10px);
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background: #b993d6;
    color: black;
}

.subnav:hover .subnav-content {
    display: flex;
    justify-content: center;
}

section {
    margin: 0em 10em 10em 10em;
    padding: 3em 10em 3em 10em;
}

h1 {
    color: #111;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 200px;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    padding: 0;
    margin: 0;
}

p {
    color: #111;
    font-family: "Calibri", sans-serif;
    font-size: 25px;
    line-height: 1.5;
}

hr {
    background-color: #000;
}