.navGame {
    background-color: transparent;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    width: 100vw
}

.navitems {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navitems a {
    color: rgb(2, 2, 2);
    font-family: serif;
    margin: 15px;
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a:hover {
    color: rgb(125, 239, 125)
}

.navtoggle {
    display: none;
}

@media (max-width: 768px) {
    .navlogo {
        font-size: 20px;
    }

    .navitems {
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(88, 175, 221);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fill-available;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }

    .navitems.open {
        transform: translateX(0) !important;
    }

    .navtoggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;

    }

    .navtoggle span {
        width: 30px;
        height: 4px;
        background-color: white;
        margin-bottom: 5px;
        border-radius: 5px;
        transform-origin: 5px 0px;
        transition: all 0.3s linear;
    }

    .navtoggle.open>span {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .navtoggle.open>span:nth-child(2) {
        display: none;
    }

    .navtoggle.open>span:nth-child(3) {
        transform: rotate(-45deg) translate(-5px, 0px);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Pacifico', cursive;
    color: #000;
}

.me {
    color: rgb(88, 175, 221)
}

.logout {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 6%;
    margin-right: 6%;
}

/* .logout:hover {
    background-color: red;
} */