@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.title {
    font-size: 60px;
    font-weight: normal;
    font-family: 'Pacifico', cursive;
    color: #000;
    margin-top: 0px;
}

.me {
    color: rgb(88, 175, 221)
}