.divPopPrincipal {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.containerForgot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(88, 175, 221);
    width: 60%;
    height: 40%
}

.botonSubmitForgot {
    margin: 20px;
}

.botonExit {
    margin: 20px;
}

.inputForgot {
    height: 40%;
    width: auto;
}