@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.ExplorePage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto';
    ;
}

.ExploreCardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.paginationExplore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px
}