.SharePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botonazos {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.botonCompartirPerfil {
    background-color: rgb(125, 239, 125);
    margin-bottom: 100px;
    width: 30vw;
    height: 20vh;
}

.botonAbrirPop {
    background-color: rgb(88, 175, 221);
    width: 30vw;
    height: 20vh;
}

.qr-popup {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    flex-direction: column;

}

.close-btn {
    margin: 20px;
    background-color: red;
}

.imgShare {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 35vw;
    height: 60vh;
    cursor: pointer;
    margin: 5%
}

.imgShare:hover {
    background-color: grey;
    border-radius: 20%;
}

@media (max-width: 768px) {
    .botonazos {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .imgShare {
        max-width: 20vw;
        max-height: 20wh;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .botonazos {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .imgShare {
        max-width: 20vw;
        max-height: 20wh;
    }
}


@media only screen and (max-width: 639px) {
    .botonazos {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .imgShare {
        max-width: 20vw;
        max-height: 20wh;
    }
}