.SharePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botonazos {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

.qr-popup {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    flex-direction: column;

}

.imgShare {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 35vw;
    height: 60vh;
    cursor: pointer;
    margin: 5%;
    transition: background-color 0.4s ease;
    border-radius: 20%;
}

.imgShare:hover {
    background-color: rgb(125, 239, 125);
    border-radius: 20%;
}

@media (max-width: 768px) {
    .SharePageContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .botonazos {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .imgShare {
        width: 50%;
        max-width: 100%;
        height: auto;
        max-height: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .botonazos {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .imgShare {
        width: 50%;
        max-width: 100%;
        height: auto;
        max-height: none;
    }
}


@media only screen and (max-width: 639px) {
    .botonazos {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    .imgShare {
        width: 50%;
        max-width: 100%;
        height: auto;
        max-height: none;
    }
}