#bodyHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    overflow: hidden;
}

#mainHome {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    /* width: 100%; */
}

#loginformHome {
    width: 35%;
    margin-left: 20%
}

#imagenContainerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.imagenHome {
    height: 80%;
    width: 70%;
}

/* .contador {
    max-width: 100%;
    font-size: 3rem;
} */

@media (max-width: 767px) {
    #imagenContainerHome {
        display: none;
    }

    .contador {
        max-width: 100%;
        font-size: 1.5rem;
    }
}