#bodyHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 100vw;
    max-height: 100vh; */
    /* margin-top: 2%; */
}

#mainHome {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

#loginformHome {
    width: 35%;
    /* margin-top: 10%; */
    margin-left: 20%
}

#imagenContainerHome {
    /* width: 40%;
    height: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#imagenHome {
    height: 80%;
    width: 70%;
    /* padding-bottom: 100px; */
}

@media (max-width: 767px) {
    #imagenHome {
        display: none;
        /* Esto ocultará la imagen en dispositivos móviles */
    }
}